// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_show{
  margin: 20px 0;
  width: 100%;
  border:0.5px solid #747474;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 2px 2px 3px #aaaaaa;
  .recipe_comment_margin{
    margin: 0 20px;
    h3{
        color: #747474;
        border-bottom: solid 1.5px #04949c;
      }
      .not_login{
    margin: 20px 0;
    color: #747474;
    border-top: 1px solid;
    border-bottom: 1px solid;
    }
    }
}

.input-mysize {
  width: 80%;
}

.comment-container {
  margin-bottom: 25px;
  border-top: 3px solid #eeeeee;
}

.comment-avatar {
  margin-bottom: 5px;
}

.small_image_size {
  max-width: 40px;
  max-height: 40px;
}