// Place all the styles related to the Ralationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relationships_index{
  margin-top: 20px;
  width: 100%;
  border:0.5px solid #747474;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 2px 2px 3px #aaaaaa;
  padding-bottom: 10px;
  h2{
    color: #747474;
    border-bottom: solid 3px #04949c;
  }
  .relationships_index_contents{
    margin: 0 20px;
  }
}

.follow_image_size {
  max-width: 50px;
  max-height: 50px;
}
