// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe_new {
  margin: 20px 0px;
  padding: 20px;
  width: 100%;
  border: 0.5px solid #747474;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 2px 2px 3px #aaaaaa;
}

.recipes_index{
  margin-top: 20px;
  width: 100%;
  border:0.5px solid #747474;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 2px 2px 3px #aaaaaa;
  h2{
    color: #747474;
    border-bottom: solid 3px #04949c;
  }
  .recipes_index_contents{
    margin: 0 20px;
  }
}

.recipe_show{
  margin-top: 20px;
  width: 100%;
  border:0.5px solid #747474;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 2px 2px 3px #aaaaaa;
  .recipe_show_margin{
    margin: 0 20px;
    h2{
        color: #747474;
        border-bottom: solid 3px #04949c;
        p{
          font-size:0.5em;
        }
        }
    h3{
        color: #000000;
        padding-top: 5px;
        border-top: solid 1px #04949c;
        border-bottom: solid 1px #04949c;
        }
      .outline{
        margin-top: 30px;
        font-size: 1.6em;
      }
      .post_user{
        float: right;
      }
      .current_user_btn{
        float: right;
      }

  }
  .recipe_show_image{
    text-align: center;
    margin: 30px 0;
  }
}

.recipe_title{
  font-size: 20px;
}

.recipe_input-mysize {
  width: 100%;
  line-height: 40px;
}

.recipe_make{
  line-height: 50px;
}

.recipe_btn {
  margin: 5px 0;
}

.nested-fields {
  margin-bottom: 5px;
  input, .field_with_errors {
    display: inline-block;
  }
  .col-xs-8 .field_with_errors {
    width: 100%;
  }
}

.recipe_field {
  margin: 10px 0;
}

